html {
  text-align: left;
  background-color: #f2f2f2;
}

.section, .title {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 2px 2px lightgray;
}

.title {
  background: linear-gradient(to left, rgb(101, 101, 255), lightblue);
}

.section {
  background-color: white;
}

img {
  height: 100%;
  width: 100%;
}

span {
  font-weight: bold;
}